body{
    background: white;
    user-select: none;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
input{
    outline: none;
    background: #dffcfc;
    text-align: center;
    font-weight: lighter;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border:2px solid #3498db;
    transition: 0.25s;
}
input:focus{
    width: 280px;
    border-color: #2ecc71;
}
#exclamation{
    padding-left: 10px;
}
.exclamation-cover{
    display: inline;
}
.exclamation-cover:hover .hint{
    padding: 5px;
    margin-left: 10px;
    border:2px solid #3498db;
    width: auto;
    height: auto;
    display: inline;
}
.hint{
    color: white;
    border-radius: 15px;
    overflow: hidden;
    background: #3498db;
    display:inline-block;
    width: 0;
    height: 0;
    margin: 0;
    transition: 1.5s; /* Add transition on hover */
}
h1{
    font-size: 35px;
    font-weight: lighter;
}
h2{
    font-size: 25px;
    font-weight: lighter;
}
p{
    font-size: 15px;
    color: #000000;
    font-weight: lighter;
    display: inline;
}
button{
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #4CAF50;
    color: white;
}
button:focus{
    background: #f68497;
}
.navBar:link, .navBar:visited {
    background-color: white;
    color: black;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.navBar:hover, .navBar:focus {
    background-color: #000000;
    color: white;
}
li {
    display: inline;
}
.topNav{
    background: #434242;
    overflow: hidden;
    padding: 5px;
}
.text{
    margin-left: 15%;
    margin-top: 1%;
}
.login-register-component{
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
}
.login{
    display: table;
    padding-bottom: 10px;
    border-radius: 4px;
}
.logo{
    background: #ff9862;
}
img{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    margin-top: -50px;
    margin-bottom: -25px;
}
.subNavBtn{
    overflow: hidden;
    height: 0;
    position: absolute;
    transition: 0.3s; /* Add transition on hover */
    transform: translate(-100%,9%);
    background: white;
}
.dropdowns:hover .subNavBtn{
    height: auto;
    width: auto;
    display: inline-flex;
    border-radius: 5px;
}
.rightNav {
    float: right;
}
.leftNav{
    float: left;
    transform: translate(-8%);
}
.professor{
    color: #3498db;
    font-size: 12px;
    padding: 25px;
}
.styled-buttons{
    background: none;
    text-align: left;
    color: black;
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap;
    padding: 25px;
}
.styled-buttons:hover{
    background: none;
    color: #ff9862;
}
.faculty{
    border-bottom: 5px solid #ff7600;
    border-top: 5px solid #ff7600;
}
#faculty-descriptions{
    background: #cef684;
    padding: 5px;
    border-bottom: 1px solid black;
    text-align: center;
}
#faculty-logo{
    width: 100%;
    height: 750px;
    margin-top: 0.01%;
    border-bottom: 1px solid black;
    background: #434242;
}
#big-titles{
    font-size: 25px;
}
#huge-titles{
    font-size: 50px;
}
.title{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ff7600;
}
@media screen and (max-width: 900px) {
    li, .topNav{
        display: grid;
        padding: 5px;
    }
    .leftNav{
        margin-left: 7%;
    }
    .rightNav{
        margin-right: 8%;
    }
    .login-register-component{
        display: grid;
    }
    .text{
        position: inherit;
    }
    .logo{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .dropdowns:hover .subNavBtn{
        height: auto;
        width: auto;
        display: grid;
        border-radius: 5px;
    }
    .subNavBtn{
        overflow: hidden;
        height: 0;
        position: absolute;
        transition: 0.3s; /* Add transition on hover */
        transform: translate(9%);
        background: white;
    }
}





