/*--------------------------------------------------------------------------------------------------------------------*/
/*<----------------------------------------------default styling settings-------------------------------------------->*/
body, html{
    background: url(Images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
input{
    outline: none;
    background: #dffcfc;
    text-align: center;
    font-weight: lighter;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border:2px solid #3498db;
    transition: 0.25s;
}
input:focus{
    border-color: #2ecc71;
}
h1{
    font-size: 35px;
    font-weight: normal;
    color: white;
    text-shadow: black 0px 0px 10px;
}
h2{
    font-size: 25px;
    font-weight: normal;
    color: white;
    text-shadow: black 0px 0px 10px;
}
p{
    font-size: 15px;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-weight: normal;
    display: inline;
}
button{
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #4CAF50;
    color: white;
}
button:focus{
    background: #f68497;
}
li {
    display: inline;
}
img{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 200px;
}
footer{
    padding: 1rem;
    background-color: #34495e;
    color:#fff;
    text-align: center;
    bottom: 0;
    position: fixed;
    display: inline;
    overflow: hidden;
    border-radius: 2px;
    transition: 1s;
    width: 400px;
    margin-left: -395px;
}
footer:hover{
    margin-left: 0%;
}
footer:hover i{
    display: none;
}
input[name = "r"]{
    position: absolute;
    visibility: hidden;
}
.medium-titles{
    padding: 0;
    margin: 0;
}
#container{
    margin-top: -25px;
}
.topNav{
    background: black;
    overflow: hidden;
    display: flex;
    height: 5%;
}
.home{
    padding-top: 50px;
}
.itTeam{
    /* The image used */
    background-image: url(Images/itTeamBackground.jpg);

    /* Full height and width */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<---------------------------------------------hints styling settings----------------------------------------------->*/
#exclamation{
    padding-left: 10px;
}
.exclamation-cover{
    display: inline;
}
.exclamation-cover:hover .hint{
    padding: 5px;
    margin-left: 10px;
    border:2px solid #3498db;
    width: auto;
    height: auto;
    display: inline;
}
.hint{
    color: white;
    border-radius: 15px;
    overflow: hidden;
    background: #3498db;
    display:inline-block;
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    transition: 1.5s; /* Add transition on hover */
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<--------------------------------------top navigation navlinks styling settings------------------------------------>*/
.navBar:link, .navBar:visited {
    color: white;
    font-size: 120%;
    margin: 15px;
    text-align: center;
    text-decoration: none;
}
.navBar:hover {
    color: pink;
}
.activeNavLink{
    border-bottom: #ff7600 1px solid;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<------------------------------------top navigation display settings + positioning--------------------------------->*/
.subNavBtn{
    overflow: hidden;
    height: 0;
    position: absolute;
    margin-top: -2px;
    transition: 0.3s; /* Add transition on hover */
    transform: translate(-100%,9%);
    background: white;
}
.dropdowns:hover .subNavBtn{
    height: auto;
    width: auto;
    display: inline-flex;
}
.middle-nav{
    padding-right: 0;
    padding-left: 7.5%;
    width: fit-content;
    height: fit-content;
}
.logo{
    height: 40px;
    width: 180px;
    margin-top: 8%;
    margin-left: 5%;
    border-radius: 5px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-----------------------------------------top nav dropdown styling settings---------------------------------------->*/
.styled-buttons{
    background: none;
    text-align: left;
    color: black;
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap;
    padding: 5px;
}
.styled-buttons:hover{
    background: none;
    color: #ff9862;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<------------------------------------top nav dropdown border settings----------------------------------------------->*/
.faculty{
    border-bottom: 5px solid #ff7600;
    border-top: 5px solid #ff7600;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<--------------------------------------top navigation faculty titles styling--------------------------------------->*/
.title{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ff7600;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-----------------------------login/register inputs components default styling settings---------------------------->*/
.login-register-component{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: black no-repeat center;
    background-size: cover;

}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-------------------------------------------login screen styling settings------------------------------------------>*/
.login{
    margin: auto auto;
    border-radius: 10px;
    border: 5px double black;
    padding:25px 0 25px 0;
    width: 375px;
    background-image: url(Images/loginRegisterBackground.jpg);
    background-size: cover;
    text-align: center;
}
.login-register-header{
    margin-bottom: 10%;
}
.register{
    margin: auto auto;
    border-radius: 10px;
    border: 5px double black;
    padding:25px 0 25px 0;
    width: 375px;
    background-image: url(Images/loginRegisterBackground.jpg);
    background-size: cover;
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-------------------------------------------professor styling default---------------------------------------------->*/
.professor{
    color: #3498db;
    font-size: 12px;
    padding: 25px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-------------------------------------------titles sizing styling choices------------------------------------------>*/
#big-titles{
    font-size: 25px;
}
#huge-titles{
    font-size: 50px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<------------------------------------------------faculties sizing box---------------------------------------------->*/
.faculties{
    width: auto;
    height: 750px;
    overflow: hidden;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-----------------------------------------------sliding bar styling settings--------------------------------------->*/
.bar{
    width: 30px;
    height: 5px;
    margin-right: 1%;
    cursor: pointer;
    background: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<----------------------------------------------faculties logo styling---------------------------------------------->*/
.faculty-logo-container{
    margin-top: 25px;
    background: #3498db;
}
.faculty-logo-container #faculty-logo{
    width: 700px;
    height: 600px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<----------------------------------------------faculties class styling---------------------------------------------->*/
.faculties-outer{
    height: 100vh;
    background: black;
}
.faculty-class-outer{
    margin-top: 0;
    padding: 0;
}
.faculty-class-inner{
    display: flex;
    width: 1000px;
    height: 150px;
    margin: 0.5% 0 0.5% 20%;
}
.faculty-class-inner-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:50% ;
    position: relative;
    transition: left ease 1s,width 1s,border 1s;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 7px double white;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-right: 5px double white;
}
.faculty-class-inner-inner p,
.faculty-class-inner-inner h3,
.faculty-class-inner-inner i{
    margin: 0;
    padding: 5px;
}
.faculty-class-inner-inner h3 {
    margin-top:4%;
    transition: margin-top 1s;
}
.faculty-class-dropdown{
    visibility: hidden;
    overflow: hidden;
    position: relative;
    width: 0;
    transition: all ease 1s,visibility 0s ;
}
.faculty-class-inner:hover > .faculty-class-dropdown {
    visibility: visible;
    left: 0;
    width: 65%;
    height: 100%;
    display: block;
    background: #f1f1f1;
    overflow: auto;
    color: black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.faculty-class-inner:hover > .faculty-class-inner-inner{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 5px dotted white;
    height: 100%;
    width:35%;
}
.faculty-class-inner:hover > .faculty-class-inner-inner h3{
    margin-top:10%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<---------------------------------------------sliders styling settings--------------------------------------------->*/
.slides-navigation{
    position: relative;
    left: 45%;
    bottom: 40px;
    display: flex;
}
.slide{
    animation: colorchange 175s linear 1s infinite;
    border-top: 2px solid black;
    padding-top: 10px;
    text-align: center;
    width: 20%;
    transition: 1s;
}
.slides{
    background: black;
    width: 500%;
    height: 100%;
    display: flex;
}
.slide .styled-buttons{
    color: white;
    display: block;
    text-align: center;
}
.slide .styled-buttons:hover{
    color:orange;
}
.slides-arrows #right{
    position: relative;
    font-size: 30px;
    color: white;
    bottom: 400px;
    right:-90%;
}
.slides-arrows #left{
    position: relative;
    bottom: 400px;
    color: white;
    font-size: 30px;
    right:-5%;
}
.slides-arrows #right:hover, #left:hover{
    cursor: pointer;
    color: silver;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-----------------------------------------------------slider states------------------------------------------------>*/
.r1:checked ~.s1 {
    margin-left: 0;
}
.r2:checked ~.s1 {
    margin-left: -20%;
}
.r3:checked ~.s1 {
    margin-left: -40%;
}
.r4:checked ~.s1 {
    margin-left: -60%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-----------------------------------------------school flip cards ------------------------------------------------->*/
.school-logo{
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 500px;
    height: 350px;
}
.school-container{
    margin: 25px;
    width: 500px;
    height: 350px;
}
.school-container:hover > .front{
    transform: perspective(600px)rotateY(-180deg);
}
.school-container:hover > .back{
    transform: perspective(600px)rotateY(0deg);
}
.school-description{
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 350px;
    color: white;
    background-image: url("./Images/school background.jpg");
    background-size: cover;
}
#school-text{
    margin-top: 3%;
    width: 95%;
    height: 90%;
    overflow: auto;
    font-size: 20px;
}
.front,.back{
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .2s linear;
}
.back{
    transform: perspective(600px)rotateY(180deg);
}
.front{
    transform: perspective(600px)rotateY(0deg);
}
#schools {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.school-name{
    position: absolute;
    top:76%;
    right:0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #ffffff;
    width: 500px;
    background: #0090ff;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*<-------------------------------------------------animation/resizings---------------------------------------------->*/
@keyframes colorchange {
    0%   {background: darkslategrey; color: white;}
    10%  {background: darkred; color: white;}
    20%  {background: darkmagenta; color: white;}
    30% {background: darkgreen; color: white;}
    40%   {background: darkred; color: white;}
    50%  {background: darkgoldenrod; color: white;}
    60%  {background: darkblue; color: white;}
    70% {background: darkcyan; color: white;}
    80%   {background: darkkhaki; color: white;}
    90%  {background: darkolivegreen; color: white;}
    100%  {background: darkslategrey; color: white;}
}
@media screen and (max-width: 1000px) {
    li, .topNav{
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        display: grid;
        font-size: 25px;
    }
    .leftNav{
        margin-left: 7%;
    }
    .rightNav{
        margin-right: 8%;
    }
    .text{
        position: inherit;
    }
    .login-register-component{
        background: black no-repeat center;
        height: 100%;
        background-size: cover;
    }
    .logo{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .dropdowns:hover .subNavBtn{
        height: 250px;
        width: auto;
        overflow: auto;
        border-radius: 5px;
        display: grid;
    }
    .subNavBtn{
        overflow: hidden;
        height: 0;
        position: absolute;
        transition: 0.3s; /* Add transition on hover */
        transform: translate(9%);
        background: white;
    }
    .logo{
        padding-left: 23%;
    }
    .styled-buttons{
        font-size: 10px;
    }
    .professor{
        font-size: 5px;
        padding: 5px;
    }
    .faculty{
        width: 400px;
    }
}









